.leftside{
    width: 200px;
    height: 850px;
    background-color: rgba(44, 41, 41, 0.932);
    h2{
        color: white;
    }
    ul{
        li{
            background: #ffffff96;
            margin: 10px auto;
            display: block;
            height: 50px;
            width: 100%;
            font-size: 15px;
            list-style: none;
            color: white;
        }
    }
}
