.ChoseProductList{
    width: 190px;
    height: 850px;
    background-color:rgba(44, 41, 41, 0.932);
    ul{
        color: white;
        li{
            text-align: center;
            align-items: center;
            display: block;
            height: 50px;
            width: 100%;
            background:transparent;
         
            
        }
    }
}

